<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>ch14</display-name>
  <welcome-file-list>
  	<welcome-file>/shopping/shopMain.jsp</welcome-file>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <error-page><!--404에러처리-->
    <error-code>404</error-code>
    <location>/error/404code.jsp</location>
  </error-page>
  
  <error-page><!--500에러처리-->
    <error-code>500</error-code>
    <location>/error/500code.jsp</location>
  </error-page>
  
  <resource-ref>
  	<description>ojdbc connection pool</description>
  	<res-ref-name>jdbc/oracledb</res-ref-name>
  	<res-type>javax.sql.DataSource</res-type>
  	<res-auth>Container</res-auth>  
  </resource-ref>
</web-app>